#root {
  background-color: #181818;
  color: #fafafa;
  height: 100vh;
}

ul.react-multi-carousel-track {
  display: flex;
}

li {
  list-style: none;
}

.navbar {
  padding: 1.3rem !important;
}

#navbarScroll > div > a {
  color: #fafafa !important;
}

.netflix-logo {
  height: 28px;
  width: auto;
}

@media screen and (max-width: 992px) {
  #root > div > div > nav > div > button {
    background-color: #fafafa;
    color: #fafafa !important;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none !important;
  }
  button.navbar-toggler {
    width: 36px;
    height: auto;
    padding: 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.collapsed {
    width: 36px;
    height: auto;
    padding: 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
