#root {
  background-color: #181818;
  color: #fafafa;
  height: 100vh;
}

.navbar {
  padding: 1.4rem !important;
}

#navbarScroll > div > a {
  color: #fafafa !important;
}

.netflix-logo {
  height: 24px;
  width: auto;
}
